// Main palette
$blue = #15526e
$secondblue = #3c9ead
$lightblue =  #a7d8de
$orange = #e4572e
$yellow = #f3a712

// Additional colors
$white = #fff
$darkgrey = #c1c1c1
$lightgrey = #f9f9f9
$mediumgrey = #f3f5f6
$grey = #ececec
$black = #222222;
$lightblack = #313131
$red = tomato
